# dependencies (bun install)
node_modules
*.db
static
scraped
retrieveNekoWebsites.ts
indiesea.db-shm
indiesea.db-wal
keepon.log
indiescraper/target
indiescraper/.env
api/target
api/.env
scraper/docker-compose.yml

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
