https:// {
    reverse_proxy localhost:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
    }
}

# Redirect HTTP to HTTPS
http:// {
        redir https://{host}{uri} permanent
}