codeserver.indieseas.net {
        reverse_proxy localhost:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
        }
}

indieseas.net {
        reverse_proxy 127.0.0.1:8000
}