---
import { slide } from 'astro:transitions';
import Searchbar from '../components/Searchbar.astro';

const stats = await fetch(
		new URL(Astro.url.origin + '/api/stats').href,
		{
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
			},
		}
	).then((res) => res.json());

---

<div class="center">
	<h1 class="mega-title">IndieSeas</h1>
	<p>
		IndieSeas is a search engine made exclusively for the indieweb. It
		scrapes based on 88x31 buttons, while respecting privacy and robots.txt
		policies.<br />Our useragent is <code>indieseas</code>, please allow it!
		pls pls plsss :3c
	</p>
	<Searchbar transition:animate=slide transition:name="searchbar" transition:persist/>
	<p>Found <strong>{stats.buttons}</strong> buttons across <strong>{stats.successful_websites}</strong> websites!</p>
</div>

<style>
	.center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		text-align: center;
	}
	.mega-title {
		font-size: 5rem;
		font-weight: 400;
		margin: 0;
		color: var(--text);
		margin-bottom: 0;
	}
</style>