---
const baseUrl = Astro.url.origin;
if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		const url = data.get("url");
		Astro.redirect("/check?url=" + encodeURIComponent(url as string));
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
		}
	}
}
---

<form method="POST">
	<span id="baseUrl" style="display:none;">{baseUrl}</span>
	<h2>Have we scraped u?</h2>

	<div>
		<label for="url">Website URL (no https)</label>
		<input
			type="text"
			maxlength="50"
			id="url"
			name="url"
			placeholder="example.com"
			required
		/>
	</div>

	<button type="submit"> Let's check! </button>
</form>
