---
const urlpathname = Astro.props.buttonSearch ? "/buttons" : "/search";
---

<form action="/search">
	<span id="typeOfSearch" style="display: none;">{urlpathname}</span>
	
	<input
		type="text"
		name="q"
		id="search"
		placeholder={Astro.props.buttonSearch ? "Search for a button" : "Search for a website"}
		value={Astro.props.query ? decodeURIComponent(Astro.props.query) : ""}
		autocomplete="off"
	/>
	<button type="submit">Search</button>
	<script defer>
		const form = document.querySelector("form");
		form.addEventListener("submit", (e) => {
			e.preventDefault();
			const input = document.querySelector("#search");
			if ((input && input.value.trim() == "") || input.value == null) {
				alert("Please enter a search term!");
				return;
			}
			const url = new URL(window.location.href);
			if (url.searchParams.has("q")) {
				url.searchParams.delete("q");
			}

			if (url.searchParams.has("color")) url.searchParams.delete("color");

			url.pathname = document.getElementById("typeOfSearch").textContent;

			url.searchParams.append(
				"q",
				encodeURIComponent(input.value.trim())
			);

			if (input && input.value.trim() !== "") {
				window.location.href = url.href;
			}
		});
	</script>
</form>
